  .container {
    width: 100%;
    max-width: none !important;
    background-color:white !important;
  }
  .container h1 {
    margin: auto;
    text-align: center;
  }
  
  .TextArea
  {
    margin: auto;
    text-align: center;
  }

  .csvInput
  {
    margin: auto;
    text-align: center;
  }
  